# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.tgitconfig

# IDE - VSCode
.vscode/**
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json

# SonarQube
.sonar/
.scannerwork/